<div class="post">
	<div class="gutter"></div>
		<div class="middle">
			<div class="title">{{post.title}}</div>
			<div class="featuredimage">
				<img src="{{post.featuredmedia.source_url}}">
			</div>
			<div class="body" [innerHTML]="post.content"></div>
		</div>
	<div class="gutter"></div>
</div>
<disqus [shortname]="shortname" [identifier]="post.id" ></disqus>


<div *ngIf="invalid">
	<div class="error">
	Unable to find the post you were looking for.
	</div>
	<app-blog-all></app-blog-all>
</div>