<p>
	Kevyn Hale
	<br>
	<span class="white">
		<span class="gold">Design</span>, 
		<span class="purple">Devops</span>, 
		 <span class="orange">Development</span>
	</span>
</p>
<div class="circles">
	<div class="outer">
		<div class="gutter"></div>
		<div class="inner">
		</div>
		<div class="gutter"></div>
	</div>
	<div class="outer">
		<div class="gutter"></div>
		<div class="inner">
		</div>
		<div class="gutter"></div>
	</div>
	<div class="outer">
		<div class="gutter"></div>
		<div class="inner">
		</div>
		<div class="gutter"></div>
	</div>
</div>