@import '../../colors';

p {
	font-size: 60px;
	text-align: center;
	color: $c1;
	font-family: Play;
	margin-top: 25px;

	img {
		height:80px;
		width:80px;
		border-radius:80px;
		background-color:red;
	}

	span.special {
		color:$a1;
	}
	span.white {
		opacity:.7;
		font-size:50px;
		font-family: 'Righteous', sans-serif;
		margin-top:25px;
		display:block;
		margin-bottom:10px;
	}
	span.orange {
		color:orange;
	}
	span.gold {
		color:gold;
	}
	span.purple {
		color: #ff7600;
	}
	span.style {
		color:#6fc6fd;
		font-family:'Exo', sans-serif;
		font-weight:100;
	}
}

div.circles {
	display:flex;
	max-width: 100%;
	@media screen and (max-width: 710px) {
		display:block;
	}

	.outer {
		flex: 1;
		display: flex;
		margin-bottom:30px;

		.inner {
			flex: 1;
			max-width: 300px;
			min-width: 300px;
			margin-right:10px;
			height: 300px;
			background-color: white;
			border-radius:50%;

			@media screen and (max-width: 1010px) {
				max-width: 250px;
				min-width: 250px;
				height: 250px;
			}

			@media screen and (max-width: 860px) {
				max-width: 200px;
				min-width: 200px;
				height: 200px;
			}

			@media screen and (max-width: 710px) {
				max-width: 300px;
				min-width: 300px;
				height: 300px;
			}
		}
		.gutter {
			flex: 1;
		}

	}


}