@import '../../../colors';

$light: #d6d6d6;

a, a:active, a:visited, a:focus{
	text-decoration: none;
}
.post {
	width: 100%;
	display:flex;

	.gutter {
		flex:1 1 20%;
	}

	.middle {
		flex:1 1 60%;
		border-bottom:1px solid $light;
		display:flex;
		min-width:400px;
		padding: 45px 0px 45px 0px;

		.featureimage {
			flex:1 1 40%;
			img {
				max-width: 100%;
			}
		}
		.middlegutter {
			flex:1 1 5%;
		}
		.postdetails {
			flex: 1 1 55%;
			
			font-family: 'Play', sans-serif;
			div {
				display:block;

				&.title {
					font-family: 'Exo', sans-serif;
					font-size:40px;
					color:$a2;
					padding:0px;
					margin:0px;
					margin-bottom:5px;
					font-weight: 800;
				}
				&.date {
					color:$b2;
					margin-bottom:10px;
				}
				&.body {
					color:$b1;
					font-size:20px;
					margin-bottom:20px;
				}
				&.tags {
					display:block;
					ul {
						list-style-type: none;
						margin: 0px;
						padding: 0px;

						li {
							padding:5px;
							border:1px solid $light;
							border-radius:8px;
							display: inline-block;
							margin-right:8px;
							color:$b2;
							background-color: #f7f7f7;
						}
					}
				}
			}
		}

	}

	@media screen and (max-width: 500px) {
   		.middle {
   			min-width:auto;
   			display:block;
   			.featureimage {
   				display:block;
   				margin-bottom: 15px;
   			}
   			.gutter {
   				width:0px;
   			}
   		}

   		.gutter {
   			display:none;
   		}
 		
	}
}