@import '../../../colors';

div {
	margin-bottom:40px;
	
	width: auto;

	.titles {
		width: 140px;
		float:left;
		text-align:right;
		padding-right:5px;
		border-right:2px solid black;

		li {
			max-height: 20px;
			height:20px;
			margin-bottom: 20px;
			vertical-align:top;
			font-size:25px;
			line-height:15px;
			font-family: sans-serif;
			color: #5d829a;
			font-weight: 100;

			img {
				margin-left:-2px;
			}

			span {
				position:relative;
				top:-3px;
				padding: 0px 7px;
				border-radius:5px;
				border:1px solid transparent;

				&.selected {
					background-color: #f3f3f3;
    				border: 1px solid #dadada;
    				font-weight: 200;
    				color: #0197f6;
				}

				
			}

			&:hover > span {
					background-color: #f3f3f3;
    				border: 1px solid #dadada;
    				font-weight: 200;
    				//color: #0197f6;
			}

			&:hover {
				cursor:pointer;
			}
		}
	}

	.bars {
		margin-left:146px;
		width: calc(100% - 145px);
		li.bar {
			max-height:15px;
			height:15px;
			background-color:$c1;		

			margin-bottom:25px;

			&.selected {
				background-color:#9c3737;
			}
		}

	}

}



ul {
	margin:0;
	padding:0;
	list-style-type: none;
}