@import '../../../colors';

.title {
	text-transform: capitalize;
	text-align:center;
	font-size:30px;
	margin-bottom:30px;
	font-family: 'Exo', sans-serif;
	color:$b1;

	&.hide {
		display: none;
	}
}

.chart-cont {
	max-width:calc(50% - 45px);
	height:auto;
	@media screen and (max-width: 650px) {
		max-width: 100%;

	}
}