@import '../../../colors';

.title {
	text-transform: capitalize;
	text-align:center;
	font-size:30px;
	margin-bottom:30px;
	font-family: 'Exo', sans-serif;
	color:$b1;

	&.hide {
		display: none;
	}
}

.skills {

	width: 100%;
	display:flex;
	position:relative;
	.chart-cont {
		flex: 1 1 49%;
		max-width:49%;
		height:auto;
	}

	.gutter {
		flex: 1 1 2%;
		max-width:2%;
	}

	.single-skill {
		flex: 1 1 49%;
		max-width:49%;
		clear:both;
	}

	@media screen and (max-width: 650px) {

		display:block;
		.chart-cont {
			background-color:red;
			max-width:100%;
		}	

		.gutter {
			display:none;
		}

		.single-skill {
			width:100%;
			max-width:100%;	
			background-color:blue;
		}

	}
}