// Import these into all style sheets:
@import url('https://fonts.googleapis.com/css?family=Exo|Play|Reem+Kufi|Righteous');

// COLORS 

$a1:#D7263D;
$a2: #e86d7d;
$a3: #d04153;

$b1:#02182B;

$c1: #0197F6;

$d1: #448FA3;

$e1: #68C5DB;
