// Import these into all style sheets:
@import url('https://fonts.googleapis.com/css?family=Exo|Play|Reem+Kufi|Righteous');

// COLORS 

$a1:green;
$a2: #308c30;
$a3: #46a346;

$b1:#29545b;
$b2:#3a737c;

$c1: #0197F6;

$d1: #448FA3;

$e1: #68C5DB;

$headbreak: 750px;
