@import '../../colors';

.body {
	margin-top:-15px;
	margin-bottom:-30px;
	position:relative;
	left:-45px;
	width: calc(100% + 90px);
	background-image: url("images/wood.jpg");
	opacity:.4;
	height: 500px;

	
}
.overlay {
	position:absolute;
	top:0px;
	left: -45px;
	width:calc(100% + 45px);
	height:500px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#29545b+0,193238+100 */
	background: #29545b; /* Old browsers */
	background: -moz-linear-gradient(top,  #29545b 0%, #193238 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #29545b 0%,#193238 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #29545b 0%,#193238 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29545b', endColorstr='#193238',GradientType=0 ); /* IE6-9 */
	opacity:.9;

}

.toggle-nav {
	font-size: 40px;
	color: #aaaaaa;
	transition: color 500ms ease;

	&:hover {
		cursor: pointer;
		color: $a1;
	}

}

.overlay-container {
	position: absolute;
    top: 15px;
    width: calc(100% - 150px);
    padding: 30px;
    max-height: 500px;
    color: white;
    font-size: 40px;
    div.title {
    	font-size:80px;
    	font-family: 'Exo', sans-serif;
    	text-align:center;
    }
    div.search-outer{
    	position:relative;
    	width:100%;

	    div.search {
	    	width:60%;
	    	margin:0 auto;
	    	position: relative;
	    	transition: width .5s, max-height 0.5s;	
	    	@media screen and (max-width: 650px) {
				width: 100%;
			}

	    	div.center {
	    		width:100%;
		    	input {
		    		width: calc(100% - 85px);
				    padding: 5px;
				    padding-left:80px;
				    font-size: 25px;
				    border-radius: 5px;
				    border: 0px;
				    background-color: white;
				    border: 2px solid #3a737c;
				    padding-top: 5px;
					padding-bottom: 5px;
				    color: #308c30;
					font-weight: 300;

				    &:focus {
				    	outline:none;
				    }
		    	}

		    	i {
		    		display:none;
		    	}

		    	span {
		    			font-family: 'Exo', sans-serif;
    					color: #46a346;
    					line-height:58px;
    					font-size:18px;
						position:absolute;	
						left:5px;
						display:inline;
						font-weight:bold;
						i {
							position:relative;
							display:inline;
							top:5px;
						}
					}	


				div.dropdown {
				    position: relative;
				    background-color: white;
				    border:0px;
				    width: 100%;
				    top: -4px;
				    height: 0px;
				    overflow: hidden;
				    max-height:0px;
				    -webkit-transition: ease max-height 0.8s;
					-moz-transition: ease max-height 0.8s;
					transition: ease max-height 0.8s;
					color:black;

				    &.show-dropdown {
				    	height:auto;
				    	overflow-y:scroll;
				    	border: 2px solid #3a737c;
				    	height:250px;
				    	max-height:250px;
				    	z-index:13;
				    }

				    div.loading {
				    	position:absolute;
				    	width:100%;
				    	height: calc(100% - 75px);
				    	background-color:white;
				    	z-index:15;
				    	padding-top:75px;
				    	opacity:0;
				    	display:none;
				    	transition: ease opacity 1s;

				    	img {
				    		margin: auto;
				    		display:block;
				    		height:50%;
				    		width: 50%;
				    	}

				    	&.show-loading {
				    		opacity:1;
				    		display:block;

				    	}
				    }
				    div.skillrow {
				    	padding:3px 10px;
				    	font-family:sans-serif;
				    	font-size: 20px;
				    	&:hover {
				    		background-color:rgba(0, 128, 0, 0.30);
				    		cursor:pointer;
				    	}
				    	img {
				    		position:relative;
				    		top:2px;
				    	}
				    	div.count {
				    		color:gray;
				    		display:inline-block;
				    	}
				    }
				}
		    	
	    	}
	    }

	    &.sticky {
	    	position:fixed;
	    	z-index:20;
	    	top:60px;
	    	left:0px;
	    	width:100%;

	    	

	    	div.search {
	    		width:100%;
	    		height: 50px;
    			max-height: 50px;
			    z-index: 13;
			    background-color: #ebebeb;
			    //overflow: hidden;

	    		div.center {
	    			width:60%;
	    			margin:0 auto;
	    			position:relative;
	    			font-family: 'Exo', sans-serif;
    				color: #46a346;
    				line-height:50px;
    				font-size:18px;

    				@media screen and (max-width: 650px) {
						width: 80%;

					}

		    		input {
		    			width: calc(100% - 133px);
					    height: 38px;
					    border-top: 0px;
					    border-left: 0px;
					    border-right: 0px;
					    border-bottom: 2px solid #d6d6d6;
					    font-size: 30px;
					    background-color: #ebebeb;
					    padding-left: 90px;
					    padding-right: 45px;
					    transition: border 500ms linear;
					    color: #308c30;
					    font-weight: 300;
					    border-radius:0px;

					    &:focus, &:active {
					    	outline:none;
					    	border-bottom:5px solid $c1;
					    }
		    		}

		    		span {
						position:absolute;	
						display:inline;
						i {
							position:relative;
							display:inline;
							top:5px;
						}
					}	

					.close {
					    position: absolute;
					    top: 5px;
					    right: 3px;
					    display:block;
					}	

					.loading {
						position: absolute;
						top:9px;
						right: 35px;
						font-size: 35px;
						color: #aaaaaa;
	    				animation: rotating 1.5s linear infinite;
	    				opacity:1;
	    				transition: opacity .3s ease;
	    				display:block;
					}	

					i.loading-hide {
						opacity: 0;
					}

					div.dropdown {
						height:500px;
						

						&.show-dropdown {
							border: 1px solid $c1;
							border-top: 2px solid $c1;
							top:-6px;
						}

						div.skillrow {
							line-height:normal;
						}
					}
	    		}
	    	}

	    	&.hide-nav {
				max-height:0px;
				overflow:hidden;

				div.search {
					max-height:0px;
					div.center {
						input {
							max-height:0px;
						}
						div.dropdown {
							max-height:0px;
						}
					}
				}
			}
	    }
	}
    div.buttons {
    	margin-bottom:60px;
    	ul {
    		margin:0px;
    		padding:0px;
    		text-align:center;

    		a {
				    font-family: 'Play', sans-serif;
				    color: transparent;
				    text-decoration:none;

				    &:active, &:focus, &:visited {
				    	text-decoration:none;
				    }
    			li {
    				display: table;
    				margin: 15px auto;
    				padding: 3px 18px;
				    border-radius: 20px;
				    font-size:30px;
				    box-shadow: 2px 2px 5px #1f3e43, inset 1px 1px 0px rgba(255, 255, 255, 0.5);
				    color:#1f3e43;
				    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
				    font-weight:bold;

    				&.design {
    					background-color:gold;
    				}

    				&.development {
						background-color:#ff7600;
    				}

    				&.devops {
    					background-color:orange;
    				}

    				&:hover {
    					cursor:pointer;
    					box-shadow: 3px 3px 5px #14262a;

    				}

    			}
    		}
    	}
    }

    @media screen and (max-width: 650px) {
		div.title {
			font-size:50px;
			margin-bottom:40px;
		}
		div.buttons {
			ul {
				a {
					li {
						font-size:25px;
					}
				}
			}
		}

	}

}

.row {
	background-color:#dadada;
	display:flex;
	width:calc(100% + 0px);
	max-width:calc(100% + 0px);
	overflow:hidden;
	margin-left:-45px;
	padding:0px 45px;
	margin-bottom:20px;
	flex-wrap:wrap;

	.image {
		flex: 1;
		margin: 10px 0;
		text-align:center;

		img {
			display: inline-block;
			vertical-align: middle;
			filter: grayscale(1);
			opacity:.3;	

			&:hover {
				filter: grayscale(0);
				opacity:1;
			}
		}
	}
}
.open {
	display:none;

	&.sticky {
		display:block;
		position: fixed;
		right: 2px; 
		top: 65px;
	}
}



.chart-cont {
	max-width:calc(50% - 45px);
	height:auto;
	@media screen and (max-width: 650px) {
		max-width: 100%;

	}
}