<nav>
 	<ul>
 		<a class="logo">
	 		<li>
	 			<img src="images/logocolor.png">
	 			KyDeveloper
	 		</li>
 		</a>
 		<a routerLink="/hello" routerLinkActive="selected">
 			<li >HELLO</li>
 		</a>
 		<a routerLink="/intro" routerLinkActive="selected">
 			<li>INTRO</li>
 		</a>
 		<a routerLink="/skills" routerLinkActive="selected">
 			<li>SKILLS</li>
 		</a>
 		<a routerLink="/portfolio" routerLinkActive="selected">
 			<li>PORTFOLIO</li>
 		</a>
 		<a routerLink="/about" routerLinkActive="selected">
 			<li>ABOUT</li>
 		</a>
 		<a routerLink="/contact" routerLinkActive="selected">
 			<li>CONTACT</li>
 		</a>
 		<a href="http://blog.kydeveloper.com">
 			<li>BLOG</li>
 		</a>
 	</ul>
</nav>